.table{
    /* margin: 75px 340px; */
    margin: auto;
    width: 50%;
}

.tableContent{
    margin: auto;
}

.row{
    margin: auto;
}
.form-group{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}