.table{
    /* margin: 75px 340px; */
    margin: auto;
    width: 50%;
}

.tableContent{
    margin: auto;
}
.tableHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 10px;
}
.form-group{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn-group button{
    margin-left: 10px;
}